{% extends "base.html" %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/user_profile.css' %}">

<div class="profile-wrap">

  <div class="profile-top">

    <div class="avatar-wrap">
      <img class="avatar-guest" src="{% static 'icons/profile.svg' %}" alt="Пользователь">
    </div>

    <div class="username">Профиль</div>

    <div class="profile-subtext">
      Войдите, чтобы сохранять промокоды и добавлять заказы.
    </div>

    <a class="auth-main-btn" href="{% url 'login' %}">
      Войти / Регистрация
    </a>

  </div>

</div>
{% endblock %}
